<!DOCTYPE html>
<html lang="en"> 
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/b07b7432fe.js" 
    crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./style.css">
    <title>Login</title>
</head>
<body>
    <header>
        <div class="brand-logo">
            <i class="fas fa-adjust"></i>capstrong
        </div>
        
        <nav> 
            <ul>
        <a href="/" class="nav-btn"> home</a>
        <a href="/" class="nav-btn"> about</a>
        <a href="/" class="nav-btn"> contact</a>
        </ul>
    </nav>
    </header> 
    
    <section id="hero">
    <div class="d-flex">
       <div class="container hero-wrap">
           <div class="quote-wrap">
            <p> Capstrong Capstrong Capstrong Capstrong Capstrong Capstrong Capstrong 
            Capstrong Capstrong Capstrong Capstrong Capstrong Capstrong Capstrong Capstrong 
            Capstrong Capstrong Capstrong Capstrong Capstrong Capstrong Capstrong .</p>
            <em>__CapStrong Team</em>
           </div>
           <div class="login-wrap">
               <div class="login-wrap-box">
                   <div class="login-title">
                       <h3>Login</h3>
                       <p>Sign in to your  account  to continue</p>
                   </div>
                   <form action="login.php" method="post">
                      <p>
                        <label for="email">email address</label>
                        <input type="email" id="email"class="form-control" name="email" placeholder="name@exapmle.com"/>
                      </p> 
                      <p>
                          <label for="password">password</label>
                          <input type="password" id="password" class="form-control" name= "password" placeholder="password"/>
                      </p>
                      <p>
                          <button type="btn-submit" class="btn-submit" value="login"  name="" >Sign in</button>
                      </p>
                   </form>
                   <p class="not-register">not registered?<a href="register.html"> Create  account</a></p>
               </div>
           </div>
        </div> 
    </div>
    </section>
</body>
</html>