{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/b07b7432fe.js" 
    crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./style.css">
    <title>REGISTER</title>
</head>
<body>
    <section id="hero">
        <div class="d-flex">
            <div class="container hero-wrap">
               <div class="login-wrap">
                   <div class="login-wrap-box">
                       <div class="login-title">
                           <h3>Register</h3>
                           <p>New users must register to continue</p>
                       </div>
                       <form action="" method="post">
                        {% csrf_token %}
                        <label for="fname">First name:</label><br>
                        <input type="text" id="fname" name="fname" placeholder="example: JUAN"><br>
                        <label for="lname">Last name:</label><br>
                        <input type="text" id="lname" name="lname" placeholder="example: DELA CRUZ">
                        <label for="dob">Username:</label><br>
                        <input type="text" id="Uname" name="Uname" placeholder="Username">
                        <!-- <label for="dob">Date of Birth:</label><br>
                        <input type="dateOfBirth" id="birthmonth" name="dob"> -->
                        <label for="email">Email:</label><br>
                        <input type="email" id="email" name="email" placeholder="name@email.com">
                        <label for="userPassword">Password:</label><br>
                        <input type="password" id="Pass" name="Pass" placeholder="Password">
                        <p>
                            <button type="btn-submit" class="btn-submit">SUBMIT</button>
                            <a type="btn-cancel" class="btn-home" href="../dashboard"> Cancel </button> 
                        </p>
                       </form>
                   </div>
               </div>
            </div> 
        </div>
    </section>
</body>
</html>